body {
	background-color: #CCF4C1;
	font-family: "URW Palladio L", serif;
}

.titleHeader {
 	padding: 5px;
 	font-size: 20px;
 	text-align: left;
 	display: block;
 	margin: 8px;
	font-family: "URW Palladio L", serif;
	
}


header {
	background-color: #F4D40B;
	padding: 5px;
	box-shadow: 0 0 3px #000;
	border-radius: 15px;
}


li {
	display: inline;
	padding: 45px;
	transition: .3s ease;
}

a:hover {
	color: #43E0EA;	
}

#touristImage {
	padding: 1px;
	display: block;
	align: center;
	margin-left: auto;
  	margin-right: auto;
}
